extends layout

block content
    .container
        h1 About Us
        p Kuch bhi kuch bhi likhna padh raha hai which doesn't make any sense
        ul
            li Blablabla
            li YoYoYoYo
            li RingaLinga
        p Wapas bohot kuch likhna padega damn